input.ng-invalid, select.ng-invalid {
    background-color: lightcoral;
}

input.ng-valid, select.ng-valid  {
    background-color: green;
    color: white;
}
form {
    padding: 8px 16px;
    border: 3px dotted;
    border-radius: 8px;
}

form.ng-invalid {
    border-color:  lightcoral;
}


form.ng-valid {
    border-color:  green;
}